@page
@model Complex.Pages.DoctorsModel
@{
}


<div class="row ">

    <h1 class="text-center">Meet our Doctors!</h1>
    <br />
    <br />
    <br />
    <div class="col border border-black border-2 text-center text-black bg-white">
        <h5 class="card-title">&nbsp;Dr. Amelia Sunshine</h5>
        <img src="~/pictures/8.jpeg" class=" img-fluid" />
        <br />
        <br />
        <p class="card-text">
            Position: Founder and Chief Wellness Officer
        </p>
        <p class="card-text">
            Dr. Amelia Sunshine is the visionary behind the
            "Flu-Be-Gone Wellness Center." She's known for her warm smile
            and her commitment to making flu prevention a joyful experience.
            Driven by a childhood fear of flu shots, she's dedicated her life
            to ensuring that no one has to fear staying healthy. With her sidekick,
            "Flu Buster," she's on a mission to spread happiness and wellness
            throughout the community.
        </p>
        <a href="About" class="btn btn-primary">Learn More!&nbsp;</a>
    </div>
    <div class="col-1"> </div>
    <div class="col border border-black border-2 text-center text-black bg-white">
        <h5 class="card-title">&nbsp;Dr. Marcus Wellness</h5>
        <img src="~/pictures/10.jpeg" class="img-fluid"/>
        </br>
        <br />
        <p class="card-text">
            Position: Pediatric Specialist
        </p>
        <br />
        <p class="card-text">
            Dr. Marcus Wellness is our resident pediatric specialist.
            He has a magical way of connecting with children, turning
            their check-ups into fun adventures. Kids love his playful
            approach to health, and parents trust his expertise. Dr. Wellness
            believes that healthy habits start early, and he's passionate about
            keeping the little ones flu-free and smiling.
        </p>
        <br /> <br />
        <a href="About" class="btn btn-primary">Learn More!&nbsp;</a>
    </div>
    <div class="col-1"> </div>
    <div class="col border border-black border-2 text-center text-black bg-white">
        <h5 class="card-title">&nbsp;Dr. Olivia Harmony</h5>
        <img src="~/pictures/9.jpeg" class="img-fluid"/>
        <br />
        <br />
        <p class="card-text">
            Position: Nutrition and Wellness Expert
        </p>
        <br />
        <p class="card-text">
            Dr. Olivia Harmony is our go-to expert on nutrition and wellness.
            She believes that a balanced diet and a healthy lifestyle are key
            to staying flu-free. Dr. Harmony is known for her informative and
            engaging flu prevention workshops, where she helps patients discover
            the delicious side of health. She's a firm believer that good food
            can be the best medicine.
        </p>
        <br />
        <a href="About" class="btn btn-primary">Learn More!&nbsp;</a>
    </div>
</div>