@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center bg-secondary text-light">
    <h1 class="display-4">Welcome to Flu-Be-Gone Wellness Center</h1>
    <img src="~/pictures/7.jpg" class="d-block w-100">

    <p class="ms-auto">
        At the "Flu-Be-Gone Wellness Center," we believe in turning flu prevention into a delightful adventure. Founded by Dr. Amelia Sunshine and her trusty sidekick "Flu Buster," we're on a mission to make health and happiness go hand in hand.

        Our whimsical clinic is a place where you can schedule your flu shot with a smile, learn how to stay flu-free, and enjoy a warm and welcoming atmosphere. Join us in our quest to banish the flu and spread joy throughout our community.

        Discover the magic of health and happiness at Flu-Be-Gone!
    </p>
</div>





